<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet"/>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <script src="js/script.js"></script>
    </head>
    <body>
        <div id="boot_jargon"></div>
        <pre id="title">
 ____  ______   __  ____  ____  _____    _    _  __
/ ___||  _ \ \ / / / ___||  _ \| ____|  / \  | |/ /
\___ \| |_) \ V /  \___ \| |_) |  _|   / _ \ | ' /
 ___) |  __/ | |    ___) |  __/| |___ / ___ \| . \
|____/|_|    |_|   |____/|_|   |_____/_/   \_|_|\_\
        </pre>
    </body>
</html>
