body {
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}

pre {
    font-size: 16px;
}

#title {
    text-align: center;
}
/*
#boot_jargon {
    padding-left: 5%;
    padding-top: 5%;
}

#booted {
    display: none;
}
*/
#state {
    text-align:left;
    padding-top: 30px;
    padding-left: 10%;
}