* {
    color: rgb(0,255,0);
}

body {
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}

#title {
    text-align: center;
    font-size: 16px;
}

#state {
    text-align:left;
    font-size: 16px;
    padding-top: 30px;
    padding-left: 10%;
}

footer {
   position: fixed;
   left: 0;
   bottom: 6px;
   width: 100%;
   color: white;
   text-align: center;
   font-size: 12px;
}